<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="description" content="Insurance in Blockchain" />
    <meta name="keywords" content="Insurance in Blockchain">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
	
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <title>Pyrple</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/static/css/style.css" />

    <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16" />

    

</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-push-5">
						<div class="booking-cta">
							<h1>Get covered today</h1>
							<p>How would your family cope if you were to fall seriously ill or, even worse, pass away? 
								Most Australians insure major items such as their home, car or health, but what about 
								the most precious asset: your own life? Life insurance can help protect you and your 
								loved ones financially if something unexpected happens.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form">
							<form method="POST" action="/view/policy/list">
								<div class="form-group">
									<span class="form-label">Broker Name</span>
									<input class="form-control" type="text" name="broker_name" 
										placeholder="Enter the broker name">
								</div>
								<div class="form-group">
									<span class="form-label">Quote Number</span>
									<input class="form-control" type="text" name="quote_number" 
										placeholder="Enter the quote number">
								</div>
								<div class="form-group">
									<span class="form-label">Policy Number</span>
									<input class="form-control" type="text" name="policy_number" 
										placeholder="Enter the policy number">
								</div>
                                                                <div class="form-group">
                                                                        <span class="form-label">Contract Details</span>
									<textarea rows="10" class="form-control" 
										type="textarea" 
										name="contract_details" 
										placeholder="Enter the contract details"></textarea>
                                                                </div>
								<div class="form-btn">
									<button class="submit-btn" style="background: #8C1A6A">Create Policy</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!-- The Modal -->
	<div class="modal" id="policyModal">
	<div class="modal-dialog">
	  <div class="modal-content">
  
		<!-- Modal Header -->
		<div class="modal-header">
		  <h4 class="modal-title">Your policy has been created!</h4>
		  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		</div>
  
		<!-- Modal body -->
		<div class="modal-body">
			Your blockchain has number is hjk787w23bj23
		</div>
  
		<!-- Modal footer -->
		<div class="modal-footer">
		  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">OK</button>
		</div>
  
	  </div>
	</div>
  </div>

	

</body>

	

</html>
