<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="description" content="Insurance in Blockchain" />
    <meta name="keywords" content="Insurance in Blockchain">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <title>Pyrple</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/static/css/style.css" />

    <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16" />

    

</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="booking-form">
							<form>
								<div class="form-group">
									<span class="form-label">Broker Name</span>
									<input class="form-control" type="text" placeholder="AON">
								</div>
								<div class="form-group">
									<span class="form-label">Quote Number</span>
									<input class="form-control" type="text" placeholder="A561JK">
								</div>
								<div class="form-group">
									<span class="form-label">Policy Number</span>
									<input class="form-control" type="text" placeholder="P1000292901928">
								</div>
								<div class="form-group">
									<span class="form-label">Blockchain Hash</span>
									<input class="form-control" type="text" placeholder="bejhr17830sjkqi723j">
								</div>
					
							</form>
						</div>
					</div>

					<div class="col-md-4">
						<div class="booking-form">
							<form>
								<div class="form-group">
									<span class="form-label">Broker Name</span>
									<input class="form-control" type="text" placeholder="AON">
								</div>
								<div class="form-group">
									<span class="form-label">Quote Number</span>
									<input class="form-control" type="text" placeholder="A562JK">
								</div>
								<div class="form-group">
									<span class="form-label">Policy Number</span>
									<input class="form-control" type="text" placeholder="P1000292901929">
								</div>
								<div class="form-group">
									<span class="form-label">Blockchain Hash</span>
									<input class="form-control" type="text" placeholder="bejhr17830jjkqi724j">
								</div>
					
							</form>
						</div>
					</div>

					<div class="col-md-4">
						<div class="booking-form">
							<form>
								<div class="form-group">
									<span class="form-label">Broker Name</span>
									<input class="form-control" type="text" placeholder="AON">
								</div>
								<div class="form-group">
									<span class="form-label">Quote Number</span>
									<input class="form-control" type="text" placeholder="A563JK">
								</div>
								<div class="form-group">
									<span class="form-label">Policy Number</span>
									<input class="form-control" type="text" placeholder="P1000292901930">
								</div>
								<div class="form-group">
									<span class="form-label">Blockchain Hash</span>
									<input class="form-control" type="text" placeholder="bejhr17830sjkqi783j">
								</div>
					
							</form>
						</div>
					</div>

	
				


					
				</div>
			</div>
		</div>
	</div>
</body>

</html>
